venv
core/__pycache__/__init__.cpython-311.pyc
core/__pycache__/__init__.cpython-312.pyc
core/__pycache__/settings.cpython-311.pyc
core/__pycache__/settings.cpython-312.pyc
core/__pycache__/urls.cpython-311.pyc
core/__pycache__/urls.cpython-312.pyc
core/__pycache__/views.cpython-311.pyc
core/__pycache__/views.cpython-312.pyc
core/__pycache__/wsgi.cpython-311.pyc
core/__pycache__/wsgi.cpython-312.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/poc_front.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/2/9/29f3b78d2e86c8b5685ec040b61646eef8c8bbbc
.idea/sonarlint/issuestore/4/7/4706701c005a11d84d8ae7731365c7c336e3f466
.idea/sonarlint/issuestore/5/0/50d2db7959c3140e27b70128db0c86bd7ad43594
.idea/sonarlint/issuestore/6/9/69af75895fd33cfd6ee29ed363c1bab6f83bf990
.idea/sonarlint/issuestore/b/6/b6b0e14274708ab267b76d2ddb4c93cb1f10faf0
.idea/sonarlint/issuestore/e/1/e1535b0e13ef3ed94506a3f2bcb076ce24346cb8
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/2/9/29f3b78d2e86c8b5685ec040b61646eef8c8bbbc
.idea/sonarlint/securityhotspotstore/4/7/4706701c005a11d84d8ae7731365c7c336e3f466
.idea/sonarlint/securityhotspotstore/5/0/50d2db7959c3140e27b70128db0c86bd7ad43594
.idea/sonarlint/securityhotspotstore/6/9/69af75895fd33cfd6ee29ed363c1bab6f83bf990
.idea/sonarlint/securityhotspotstore/b/6/b6b0e14274708ab267b76d2ddb4c93cb1f10faf0
.idea/sonarlint/securityhotspotstore/e/1/e1535b0e13ef3ed94506a3f2bcb076ce24346cb8
