{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
    </head>

    <body class="container" 
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="loading-states">

            <main id="main_content">
                {% include 'core/messages.html' %}
                {% block content %}
                {% endblock %}
            </main>

        </div>        

    </body>
</html>
